/* 
	Created by Jactari
	Updated by Aspirin and Aendawyn
	Maintained by Aendawyn

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
*/

form,table {
	margin: auto;
	width: 75%;
}

form {
	font-size: 0.8em;
	text-align: left;
}

p {
	text-align: center;
}

select,input[type=submit] {
	font-family: verdana, sans-serif;
	font-size: 1em;
	text-align: center;
}

table#liste-creatures {
	background: transparent;
	border-collapse: collapse;
	vertical-align: middle;
}

caption {
	font-weight: bold;
	padding: 1em;
}

#liste-creatures tr {
	background: transparent;
}

#liste-creatures tr.impair {
	background: #ddd;
}

#liste-creatures.general tbody tr:hover {
	background: #fcc;
}

th[id|="entete"]:hover {
	color: #f00;
	cursor: pointer;
}

th.critere {
	background: #bbf;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	padding: 0 1em 0 1em;
}

td {
	vertical-align: middle;
}

td.nom {
	padding-right: 1em;
	text-align: right;
}

td.icone {
	height: 52px;
	padding: 0;
	vertical-align: middle;
	width: 51px;
}

td.faction {
	text-align: center;
	padding: 0 1em;
}

td.niveau,td.slot,td.type {
	text-align: center;
	padding: 0 1em;
}

td.niveau {
	padding: 0 1em;
}

td.effets {
	font-size: 0.75em;
	text-align: left;
}

td.description {
	font-size: 0.8em;
}

span.valeur-effet {
	color: #080;
}

img.arme {
	display: block;
	margin: auto;
	height: 22px;
	width: 22px;
}

@media only screen and (max-device-width:480px) {
	th:nth-child(2),td.icone {
		display: none;
	}
}